
$primary: #2e4866;
$dark: #192838;
$light: #ebebeb;
$danger: $orange;
$green: rgb(171, 206, 91);
$cyan: #87e1f7;
$secondary: #247ab9;
$body-color: rgb(41, 41, 41);
$theme-color-interval: 7%;
$pink: rgb(231, 114, 168);